* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(124, 190, 157, 0.658);
}

header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 100%;
    height: auto;
}

.bus {
    margin-top: 10px;
}

form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    width: calc(100% - 22px); /* Adjust input width to fit within fieldset */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
}
